*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Gothic', sans-serif;
    letter-spacing: 1px;
    
}
i{
    pointer-events: none;
}
body{
    background:linear-gradient(88deg,rgb(195, 212, 255),rgb(255, 237, 246));
}
header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3rem;
    }
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    input, button{
        border-radius: 4px;
        border: none;
        padding: 0.25rem;
        font-size: 1rem;
        margin: 0.1rem;
    }
    input[type="number"]{
        width: 60px;
        text-align: center;
        border-radius: 4px;
    }
    button{
        cursor: pointer;
        font-size: 1rem;
        padding: 6px 10px;
        border: rgb(170, 170, 170) 1px solid;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        &:hover{
            background-color: rgb(228, 228, 228);
        }
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    div.todo{
        width: 33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.2rem 0rem;
        transition: all 0.1s ease;
        p{
            background-color: azure;
            color: black;
            padding: 0.25rem;
            font-size: 1rem;
        }
        p.todoText{
            
            width: 50%;
        }
        p.todoTime{
            width: 25%;
            text-align: center;
        }
        button{
            cursor: pointer;
            padding: 0.25rem;
            font-size: 1rem;
            border: none;
            color: white;

        }
        button.completed{
            color: rgb(114, 156, 114);
            background-color:rgb(255, 255, 255) ;
        }
        button.trash{
            color: rgb(192, 100, 100);
            background-color:rgb(255, 255, 255) ;
        }
    }
    
}
div.sort{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    button{
        cursor: pointer;
        background-color:rgb(208, 223, 233);
        border: rgb(170, 170, 170) 1px solid;
        padding: 6px 10px;
        border-radius: 4px;
        font-size: 1rem;
        &:hover{
            background-color: rgb(196, 210, 219);
        }
    }

}
.done{
    opacity: 0.5;
    text-decoration: line-through;
}
@keyframes scaleUp{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
@keyframes scaleDown{
    
    to{
        transform: scale(0);
    }
}